/* assets/css/style.css */
.m2m-like, .m2m-dislike {
    display: inline-block;
    margin-bottom: 10px;
}

.m2m-buttons {
    display: flex;
    gap: 10px;
}

.m2m-btn {
    display: inline-block;
    padding: 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.m2m-btn img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}